.GameBoard {
  aspect-ratio: 16 / 9;
  width: min(100vw, calc(100vh * 16 / 9));
  height: auto;
  max-height: 100vh;
  margin: auto;
  background: #1e1e1e;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.GameBoard-Field,
.GameBoard-Resource {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid white;
}

.GameBoard-Field {
  top: 50%;
  left: 10%;
  right: 15%;
  bottom: 30%;
}

.GameBoard-Resource {
  top: 72%;
  left: 10%;
  right: 65%;
  bottom: 5%;
}

.GameBoard-Resource-Indicator-Player,
.GameBoard-Resource-Indicator-Opponent {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 5%;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0.5rem;
  border: 1px solid white;
  left: 23.5%;
}

.GameBoard-Resource-Indicator-Player {
  bottom: 20%;
}

.GameBoard-Resource-Indicator-Opponent {
  top: 20%;
}

.GameBoard-Inspector {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 20;
}

.GameBoard-Inspector .CardDisplayer {
  width: 20%;
}

.end-turn-button {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}
