.Guide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  backdrop-filter: blur(5px);
}

.Guide-Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.Guide button {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.Guide li {
  margin-bottom: 0.6rem;
}
