.Decks {
  display: flex;
  gap: 2%;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 2%;
}

.DeckItem {
  position: relative;
  width: 20%;
  height: 10%;
  border: 1px solid black;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.DeckItem-Cards {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  /*2 by 2 grid*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.DeckItem-Cards > div {
  background-size: cover;
  background-position: center;
  background-position: 0 -1rem;
}

.DeckItem-Name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 0.2rem;
}

.DeckEdit {
  display: flex;
  width: 100vw;
}

.DeckEdit-Collection {
  box-sizing: border-box;
  padding: 2%;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2%;
  height: 100vh;
  overflow-y: scroll;
}

.DeckEdit-Collection-Card {
  width: 18%;
  flex: 0 0 auto;
  align-self: flex-start;
}

.DeckEdit-Deck {
  box-sizing: border-box;
  padding: 2%;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.DeckEdit-Name label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.DeckEdit-Name input {
  width: 100%;
  box-sizing: border-box;
}

.DeckEdit-DeckItem {
  user-select: none;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-position: 0 -1rem;
  box-sizing: border-box;
  padding: 4%;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}

.DeckEdit-DeckList {
  display: flex;
  flex-direction: column;
  gap: 1%;
  flex: 1;
}

.DeckEdit-Actions {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}
