:root {
  --selected-color: rgb(255, 136, 0);
  --selectable-color: rgb(0, 255, 0);
  --opponent-selected-color: rgb(255, 0, 0);
  --resource-color: rgb(0, 132, 255);
}

.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.Game-area {
  --gap: 1%;
  width: 100vw;
  height: calc(100vw / (16 / 9));
  max-height: 100vh;
  max-width: calc(100vh * (16 / 9));
  background-color: lightgray;
  box-sizing: border-box;
  display: grid;
  grid-template-columns:
    calc(10% - var(--gap))
    calc(70% - var(--gap))
    calc(20% - var(--gap));
  grid-template-rows:
    calc(14% - var(--gap))
    calc(15% - var(--gap))
    calc(18% - var(--gap))
    calc(18% - var(--gap))
    calc(15% - var(--gap))
    calc(20% - var(--gap));
  gap: var(--gap);
  overflow: hidden;
  position: relative;
}

.Card {
  aspect-ratio: 8 / 11;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Card.Selectable {
  box-shadow: 0 0 10px 5px var(--selectable-color);
}

.Card.Resourcable {
  box-shadow: 0 0 10px 5px var(--resource-color);
}

.Card.Selected {
  box-shadow: 0 0 10px 5px var(--selected-color);
}

@keyframes arrive-on-field {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.FieldCard {
  border-radius: 2000%;
  animation: arrive-on-field linear 0.5s;
  background-blend-mode: screen;
}

.FieldCard .Power {
  font-weight: bold;
  font-size: x-large;
  border: 2px solid white;
  border-radius: 10%;
}

.FieldCard.Opponent.Selected {
  box-shadow: 0 0 10px 5px var(--opponent-selected-color);
}

.Cost {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 7%;
  font-weight: bold;
}

.Power {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 7%;
  font-weight: bold;
}

.Subtitles {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  background-color: gray;
  font-size: x-small;
  text-align: center;
  padding-bottom: 2%;
}

.Subtitles > :last-child {
  font-size: xx-small;
}

@keyframes arrive-to-hand {
  0% {
    opacity: 0;
    transform: translate(600%, -200%) rotate(180deg) scale(1);
  }
  20% {
    opacity: 1;
    transform: translate(200%, -200%) rotate(0deg) scale(2);
  }
  80% {
    opacity: 1;
    transform: translate(200%, -200%) rotate(0deg) scale(2);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}

@keyframes arrive-to-opponent-hand {
  0% {
    opacity: 0;
    transform: translate(600%, 0) rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
  }
}

.Hand .Card {
  animation: arrive-to-hand linear 2s;
  z-index: 10;
  transition: transform 0.3s;
  transform: translateX(calc(var(--index) * -50% - 50%))
    translateY(calc(var(--abs-index) * var(--abs-index) * 2% - 50%))
    rotate(calc(var(--index) * -5deg)) scale(1.3);
}

.Hand .Card:hover {
  transform: translateX(calc(var(--index) * -50%)) translateY(-120%) scale(2.2);
}

.Hand.Opponent .Card {
  animation: arrive-to-opponent-hand linear 0.5s;
  transform: translateX(calc(var(--index) * 50% - 50%))
    translateY(calc(var(--abs-index) * calc(-1 * var(--abs-index) * 2%) - 50%))
    rotate(calc(var(--index) * -5deg)) scale(1);
  z-index: 10;
}

.Hand.Opponent .Card.Selected {
  transform: translateX(calc(var(--index) * 50% - 50%))
    translateY(calc(var(--abs-index) * calc(-1 * var(--abs-index) * 2%) - 40%))
    rotate(calc(var(--index) * -5deg)) scale(1.1);
  box-shadow: 0 0 10px 5px var(--opponent-selected-color);
}

.Hand {
  position: relative;
}

.Hand > * {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Upper-hand {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.Upper-resource {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.Upper-resource .Stack > * {
  left: 6%;
  top: 0;
  transform: translateX(calc(10% * var(--index))) rotate(90deg);
}

.Upper-stacks {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: flex;
}

.Upper-protection {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.Upper-field {
  display: flex;
  justify-content: center;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.Lower-field {
  display: flex;
  justify-content: center;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.Lower-protection {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.Lower-hand {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}

.Lower-resource {
  grid-row: 6 / 7;
  grid-column: 3 / 4;
}

.Lower-resource.Selectable {
  box-shadow: 0 0 10px 5px var(--resource-color);
}

.Lower-resource .Stack > * {
  left: 8%;
  top: 0;
  transform: translateX(calc(10% * var(--index))) rotate(90deg);
}

.Lower-stacks {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  display: flex;
}

.Control {
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Resource {
  display: flex;
}

.Stack {
  height: 100%;
  position: relative;
  flex: 1;
}

.Stack > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Inspect {
  position: absolute;
  top: 50%;
  right: 10%;
  height: 40%;
  transform: translateY(-50%);
}
